body {
  background-color: #dfdfdf;
  color: theme('colors.gray.707070');
  font-family: 'Palanquin', sans-serif;
}

.app {
  @apply flex min-h-screen;
  @apply flex-col;
}

.header {
  @apply py-4 sticky top-0 z-10;
}

.header::before {
  content: '';
  display: block;
  background: rgba(222, 222, 222, 0.95);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: rotate(-1deg);
  transform-origin: bottom left;
}

.wrapper {
  // @apply px-4; // 320px - 16px
  padding-left: 5vw;
  padding-right: 5vw;
}

@media screen and (min-width: 640px) {
  .app {
    @apply flex-row;
  }

  .wrapper {
    @apply px-16;
  }
}

.caption {
  @apply text-xs;
  @apply tracking-widest;
  @apply uppercase;
}

.fade-enter-active {
  transition: filter 0.25s, opacity 0.25s;
}

.fade-enter {
  filter: blur(0.5rem);
  opacity: 0;
}

@import 'main', 'projects', 'photographs';

@media (hover: hover) {
  // width: auto;
}

@media (hover: none) {
  // width: auto;
}
