body {
  background-color: #dfdfdf;
  color: theme('colors.gray.707070');
  font-family: 'Palanquin', sans-serif;
}

.wrapper {
  // @apply px-4; // 320px - 16px
  padding-left: 5vw;
  padding-right: 5vw;
}

@media screen and (min-width: 640px) {
  .wrapper {
    @apply px-16;
  }
}

.caption {
  @apply text-xs;
  @apply tracking-widest;
  @apply uppercase;
}

.photo {
  @apply p-1;
  @apply flex;
  @apply items-center;
  @apply justify-center;

  width: 50%;
}

.photo__link {
  @apply relative;
}

.photo__img {
  @apply m-auto;
}

.photo__txt {
  @apply absolute;
  @apply hidden;
  @apply inset-0;
  @apply p-5;
  @apply top-auto;

  background-color: rgba($color: #fff, $alpha: .75);
}
.photo__link:hover .photo__txt {
  @apply block;
}
