body {
  background-color: #dfdfdf;
  color: theme('colors.gray.707070');
  font-family: 'Palanquin', sans-serif;
}

.header {
  @apply py-4;
  @apply sticky;
  @apply top-0;
  @apply z-10;
}

.header::before {
  content: '';
  display: block;
  background: rgba(222, 222, 222, 0.95);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: rotate(-1deg);
  transform-origin: bottom left;
}

.wrapper {
  // @apply px-4; // 320px - 16px
  padding-left: 5vw;
  padding-right: 5vw;
}

@media screen and (min-width: 640px) {
  .wrapper {
    @apply px-16;
  }
}

.caption {
  @apply text-xs;
  @apply tracking-widest;
  @apply uppercase;
}

@import 'main', 'photographs';

@media (hover: hover) {
  // width: auto;
}

@media (hover: none) {
  // width: auto;
}
