.home {
  @apply flex;
}

.nav {
  @apply bottom-0;
  @apply sticky;
  @apply flex;
  @apply justify-evenly;
  @apply left-0;
  @apply right-0;

  background-color: #fff;
  z-index: 10;

  .nav__link {
    writing-mode: vertical-lr;
  }

  .nav__text {
    display: none;
  }
}

.main {
  @apply flex flex-1 flex-col min-h-full;

  flex-basis: 100%;
}

.slider {
  @apply flex relative visible;

  flex-basis: 100%; // flex-basis transition doesn't work in safari, works only with all
  transition: all var(--transition-speed) ease-out, visibility 0s linear 0s;
}

.slider.off {
  @apply invisible;

  flex-basis: 0%;
  transition: all var(--transition-speed) ease-out, visibility 0s linear var(--transition-speed);
}

.projects__image {
  display: none;
}

@media screen and (min-width: 640px) {
  .nav {
    @apply flex-col;
    @apply flex-wrap;
    @apply font-light;
    @apply h-screen;
    @apply justify-evenly;
    @apply left-auto;
    @apply select-none;
    @apply top-0;
    @apply tracking-widest;
    @apply uppercase;

    background-color: #dfdfdf;
    // right: 50%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    // writing-mode: vertical-rl;

    .nav__icon {
      display: none;
    }

    .nav__text {
      display: inline;
    }

    .active--exact,
    .sub-link.active {
      @apply font-bold;
    }

    // &.home {
    //   right: 50%;
    // }

    &.project,
    &.projects {
      background-color: #fff;
      color: rgba(112, 112, 112, 0.9);
    }

    &.photograph,
    &.photographs {
      background-color: #707070;
      color: rgba(255, 255, 255, 0.9);
    }

    &.multimedia {
      background-color: #2d2d2d;
      color: rgba(255, 255, 255, 0.9);
    }

    &.about {
      background-color: #000;
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .projects__image {
    @apply block;
    @apply flex-1;
    @apply h-screen;
    @apply inset-y-0;
    @apply object-center;
    @apply object-cover;
    @apply right-0;
    @apply sticky;
    @apply w-1/2;

    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  .projects__aa {
    @apply object-contain;

    transform: scale(0.5);
  }
}
