.photo {
  @apply p-1;
  @apply flex;
  @apply items-center;
  @apply justify-center;

  // width: 50%;
}

.photo__link {
  @apply relative;
}

.photo__img {
  @apply mb-4;
}

.photo__txt {
  @apply absolute;
  @apply hidden;
  @apply inset-0;
  @apply p-5;
  @apply top-auto;

  background-color: rgba(255, 255, 255, 0.75);
}

.photo__link:hover .photo__txt {
  @apply block;
}
